@import './assets/fonts/fonts.css';

* {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.wrapper {
    max-width: 1020px;
    padding: 0 40px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    background-color: #2d303a;
    height: 95px;
    box-sizing: border-box;
    border-bottom: 6px solid #323746;
    color: #ffffff;
}

.header .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-list {
    padding: 0;
    display: flex;
    list-style: none;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    padding-top: 11px;
}

.navbar-list-item {
    height: 30px;
    margin-left: 28.67px;
    margin-top: 18px;
}

.navbar-list-item a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    display: block;
    height: 100%;
}

.navbar-list-item a:hover {
    color: #f06c64;
  }


.service-sections-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding-top: 36px;
}

.service-icon-border {
    width: 59px;
    height: 59px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #666D89;
    display: flex;
    align-items: center;
    justify-content: center;
}


