@import './assets/fonts/fonts.css';

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.wrapper {
    max-width: 1020px;
    padding: 0 40px;
    margin: 0 auto;
    box-sizing: border-box;
}

.portfolio,
.about-us {
    width: 100%;
}

.portfolio {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.about-us {
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
  }

.social-networks {
    margin-top: 24px;
    padding-left: 1px;
}

.social-networks .social-networks-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #666d89;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.social-networks-icon.icon-facebook {
    background-image: url('./assets/img/social_networks/facebook.svg');
}